<div class="container">
    <h1>Personal info</h1>
    <form class="col-sm-8">
        <div class="card">
            <div class="card-header">Main Information</div>
            <div class="card-block">
                <div class="form-group row">
                    <label for="inputMoniker" class="col-sm-2 col-form-label">Moniker</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputMoniker" placeholder="Moniker">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputTitle" class="col-sm-2 col-form-label">Title</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputTitle" placeholder="Title">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputDescription" class="col-sm-2 col-form-label">Description</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" id="inputDescription" placeholder="Some words about you or your company..." rows="5"></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Tags</label>
                    <div class="col-sm-10">
                        <rl-tag-input [addOnBlur]="true"
                                      [autocompleteMustMatch]="false"
                                      [autocomplete]="true"
                                      [autocompleteItems]="autocompleteItems"
                                      [(ngModel)]="autocompleteTags"
                                      placeholder="Name a fruit" name="tag">
                        </rl-tag-input>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">Address</div>
            <div class="card-block">
                <div class="form-group row">
                    <label for="inputCountry" class="col-sm-2 col-form-label">Country</label>
                    <div class="col-sm-10">
                        <ngbd-typeahead-basic></ngbd-typeahead-basic>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputRegion" class="col-sm-2 col-form-label">Region</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputRegion" placeholder="Region">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputCity" class="col-sm-2 col-form-label">City</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputCity" placeholder="City">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputStreet" class="col-sm-2 col-form-label">Street</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputStreet" placeholder="Street">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputUnit" class="col-sm-2 col-form-label">Unit</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputUnit" placeholder="Unit">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPostalCode" class="col-sm-3 col-form-label">Postal Code</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputPostalCode" placeholder="Postal Code">
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">Phone Numbers</div>
            <div class="card-block">
                <div class="form-group row">
                    <label for="inputContactFirst" class="col-sm-3 col-form-label">Phone 1</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputContactFirst" placeholder="Phone number #1">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputContactSecond" class="col-sm-3 col-form-label">Phone 2</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputContactSecond" placeholder="Phone number #2">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputContactThird" class="col-sm-3 col-form-label">Phone 3</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputContactThird" placeholder="Phone number #3">
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">Social Network</div>
            <div class="card-block">
                <div class="form-group row">
                    <label for="inputFacebook" class="col-sm-3 col-form-label">Facebook</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputFacebook" placeholder="Ex.: https://www.facebook.com/your.account">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputInstagram" class="col-sm-3 col-form-label">Instagram</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputInstagram" placeholder="Ex.: https://www.instagram.com/your.account">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputTwiter" class="col-sm-3 col-form-label">Twiter</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputTwiter" placeholder="Ex.: https://twitter.com/your.account">
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>

