<form class="uk-form-horizontal">
    <div>
        <div class="uk-margin">
                     
            <label class="uk-form-label" for="form-stacked-text">Select Date:</label>
            <div class="uk-inline uk-width-1-2@l uk-width-5-6@m uk-width-1-1">
                <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: calendar"></span>
                <input class="uk-input" id="form-stacked-text" type="text">
            </div>
            <div uk-drop="mode: click; pos: bottom-justify">
                <div class="uk-card pws-card-body uk-card-body uk-card-default">
                    <div class="section-calendar">
                        <div class="section-box">
                            <div class="calendar-busy">
                                <div class="calendar-today">
                                    <div class="valign-outer">
                                        <div class="valign-middle">
                                            <div class="valign-inner">
                                                <div class="date">
                                                    <span class="day">{{date}}</span>
                                                    <span class="month">{{monthShort}}</span>
                                                </div>
                                                <div class="week-day">{{weekDay}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="calendar-cont">
                                    <div class="calendar-header">
                                        <div class="calendar-nav">
                                            <span class="active-date"><span class="active-month">{{monthFull}}</span><span class="active-year">{{year}}</span></span>
                                            <a class="calendar-prev ripple-centered" (click)="previousMonth()" title="Prev" uk-icon="icon: chevron-left"></a>

                                            <a class="calendar-next ripple-centered" (click)="nextMonth()" title="Next" uk-icon="icon: chevron-right"></a>
                                        </div>
                                    </div>
                                    <table class="calendar-body">
                                        <thead class="calendar-thead">
                                            <tr>
                                                <th *ngFor="let weekDay of weekArray">{{weekDay.substring(0, 3)}}</th>
                                            </tr>
                                        </thead>
                                        <tbody class="calendar-tbody">
                                            <tr>
                                                <td *ngFor="let day of calendar.firstWeek" class="calendar-current-month"><span>{{day}}</span></td>
                                            </tr>
                                            <tr>
                                                <td *ngFor="let day of calendar.secondWeek" class="calendar-current-month"><span>{{day}}</span></td>
                                            </tr>
                                            <tr>
                                                <td *ngFor="let day of calendar.thirdWeek" class="calendar-current-month"><span>{{day}}</span></td>
                                            </tr>
                                            <tr>
                                                <td *ngFor="let day of calendar.fourthWeek" class="calendar-current-month"><span>{{day}}</span></td>
                                            </tr>
                                            <tr>
                                                <td *ngFor="let day of calendar.fifthWeek" class="calendar-current-month"><span>{{day}}</span></td>
                                            </tr>
                                            <tr>
                                                <td *ngFor="let day of calendar.sixthWeek" class="calendar-current-month"><span>{{day}}</span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="calendar-busy-note">Sorry. I'm not available on those days</div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label" for="form-stacked-select">Select Time:</label>
            <div class="uk-inline uk-width-1-2@l uk-width-5-6@m uk-width-1-1">
                <select class="uk-select" id="form-stacked-select">
                    <option>8:00</option>
                    <option>10:00</option>
                    <option>12:00</option>
                </select>
            </div>
        </div>

        <div class="uk-margin">
            <label class="uk-form-label" for="form-stacked-select">Persons:</label>
            <div class="uk-inline uk-width-1-2@l uk-width-5-6@m uk-width-1-1">
                <select class="uk-select" id="form-stacked-select">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
        </div>
    </div>
</form>
