<label class="">SELECT SERVICE YOU WANT TO BOOK:</label>
<div class="custom-controls-stacked" style="padding-left: 10px; padding-top:5px;">
    <label class="custom-control custom-radio">
        <input id="radioStacked1" name="radio-stacked" type="radio" class="custom-control-input">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">mock</span>
    </label>
    <label class="custom-control custom-radio">
        <input id="radioStacked2" name="radio-stacked" type="radio" class="custom-control-input">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">fake</span>
    </label>
</div>