<div class="">
    <div class="" style="border-bottom: 0;">
        <div uk-sticky>
            <span class="uk-margin-left uk-dark" uk-icon="icon: arrow-right"></span>Mock Salon :: Reservation
            <button class="uk-modal-close-default uk-margin-right uk-dark" type="button" uk-close></button>
        </div>

    </div>
    <div class="">
        <div uk-grid>
            <div class="uk-card uk-card-default uk-card-body uk-width-1-6" uk-sticky="offset: 300;">
                <div><a href="#" class="uk-icon-link" uk-icon="icon: menu"></a></div>
            </div>
        </div>
        <div class="">
            <div class="uk-heading-primary uk-text-center">Mock Salon</div>
        </div>        
    </div>

    <div class="uk-clearfix" style="border-top: 0; position: fixed; bottom: 10px; left: 10px; right:10px; z-index: 2000">
        <div class="uk-card uk-card-default uk-card-body uk-clearfix">
            <div class="uk-float-right">
                <div class=""><a uk-slidenav-previous (click)="prevStep()"></a> | <a uk-slidenav-next (click)="nextStep()"></a></div>
            </div>
            <div class="uk-float-left">
                <div class="">{{currentStep}} - 3</div>
            </div>
        </div>
    </div>
</div>


<div id="services" class="" uk-offcanvas style="display: block; z-index:0;" [ngClass]="setClass(1)">
    <div class="uk-background-default uk-offcanvas-bar-light uk-offcanvas-bar-animation uk-offcanvas-slide" style="width: 100vw;">
        <pws-services></pws-services>
    </div>
</div>

<div id="calendar" uk-offcanvas style="display: block; z-index:0;" [ngClass]="setClass(2)">
    <div class="uk-background-default uk-offcanvas-bar-light uk-offcanvas-bar-animation uk-offcanvas-slide" style="width: 100vw;">
        <pws-calendar></pws-calendar>
    </div>
</div>