.pws-head-img {
    opacity: 0.8;
    width: 300px;   
}

.pws-table-danger{
        color: #d9534f;
    }

@media (min-width: 768px) {

    .pws-vertical-center {
        min-height: 100%;
        min-height: 100vh;
        display: flex;
        align-items: center
    }

    .pws-content {
        border-right-style: solid;
        border-right-width: thin;
    }
}
