.uk-open>.uk-offcanvas-bar-light {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.uk-offcanvas-bar-light {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    width: 270px;
    padding: 20px 20px;
    background: #222;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}
