@model vegetable.core.Entities.Holder

@{
    ViewData["Title"] = "Personal Web Site";
}

@if (Model != null)
{
    <div class="container-fluid">
        PWS...
    </div>
}
else
{
    <div>Sorry, this site doesn't exist</div>
}
