<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>


    <link href="~/app/bower_components/angular-material/angular-material.min.css" rel="stylesheet" />
    <link href="~/app/assets/app.css" rel="stylesheet" />

</head>
<body>
    <script src="~/app/bower_components/angular/angular.min.js"></script>
    <script src="~/app/bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="~/app/bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="~/app/bower_components/angular-material/angular-material.min.js"></script>
    <div>
        @RenderBody()
    </div>
</body>
</html>
