<!DOCTYPE html>

<html ng-app="adminApp">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>


    <link href="~/app/bower_components/angular-material/angular-material.min.css" rel="stylesheet" />
    <link href="~/app/assets/app.css" rel="stylesheet" />
    <link href="~/app/bower_components/angular-material-icons/angular-material-icons.css" rel="stylesheet" />
</head>
<body layout="row" ng-controller="mainController as vm">
   

    <div ng-include="'app/pages/sidenav.html'" layout="vertical"></div>
    <div layout="column" flex>
        <div ng-include="'app/pages/contentheader.html'"></div>
        <md-content flex id="content" class="md-padding" layout="row">
            @RenderBody()
            <div class="ng-view" flex></div>
        </md-content>
    </div>
    <script src="~/app/bower_components/angular/angular.min.js"></script>
    <script src="~/app/bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="~/app/bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="~/app/bower_components/angular-messages/angular-messages.min.js"></script>
    <script src="~/app/bower_components/angular-material/angular-material.min.js"></script>
    <script src="~/app/bower_components/angular-material-icons/angular-material-icons.min.js"></script>
    <script src="~/app/bower_components/angular-route/angular-route.min.js"></script>
    <script src="~/app/bower_components/angular-ymaps/angular-ymaps.js"></script>

    <script src="~/app/dist/services/DataToolsService.js"></script>
    <script src="~/app/dist/controllers/MainController.js"></script>
    <script src="~/app/dist/controllers/EditAddressController.js"></script>
    <script src="~/app/dist/controllers/ProfileMainController.js"></script>
    <script src="~/app/dist/controllers/ProfileAddressesController.js"></script>
    <script src="~/app/dist/controllers/ProfileBaseController.js"></script>    
    <script src="~/app/dist/boot.js"></script>
</body>
</html>
